<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>431606323336-o0aet354gmjaqfbat9q80neld7j674ke.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.431606323336-o0aet354gmjaqfbat9q80neld7j674ke</string>
	<key>API_KEY</key>
	<string>AIzaSyAHmkxdE1NoqGzp-yWj1_-t7XSfkuOD7Ww</string>
	<key>GCM_SENDER_ID</key>
	<string>431606323336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.christaApp</string>
	<key>PROJECT_ID</key>
	<string>valiac2-258d9</string>
	<key>STORAGE_BUCKET</key>
	<string>valiac2-258d9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:431606323336:ios:57a92f6c477ab2c849e73d</string>
</dict>
</plist>